<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/app_icon"
        android:isGame="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SealingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.TutorialActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.AboutMeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.IronActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.MainShopActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:exported="true"
            android:name=".activities.LoadingActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>